extends layout

block head
  title= title
  meta(itemprop='name', content='Ders.im - '+data.title)
  link(rel='canonical', href='https://ders.im/kategori/'+data.slug)
  meta(itemprop='description', content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  meta(name='image', itemprop='image', content='/images/logo.png')
  meta(name="keywords" content="ders notları, çalışma notları, ders çalışma dökümanı, ders notu, mühendislik notu, bilgisayar mühendisliği, dersim," +data.title)
  // Twitter Meta Headers
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:title', content='Ders.im - '+data.title)
  meta(property='twitter:description', content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  meta(property='twitter:site', content='@getdersim')
  meta(property='twitter:creator', content='@cagataycali')
  meta(property='twitter:image', content='/images/logo.png')
  meta(name="description" content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  // Open Graph general (Facebook, Pinterest & Google+)
  meta(property='og:title', content='Ders.im - '+data.title)
  meta(property='og:description', content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  meta(property='og:image', content='/images/logo.png')
  meta(property='og:url', content='https://ders.im')
  meta(property='og:site_name', content='Ders.im')
  meta(property='og:locale', content='tr')
  meta(property='og:type', content='website')
  link(href='/stylesheets/instantsearch.css', type='text/css', rel='stylesheet', media='screen,projection')

block content
  include components/navigation.pug
  include components/searchTemplate.html

  .container#doc
    h1.col.s12 #{data.title}
    hr
    div(style="display:flex;flex-direction:row")
      h5.col.s12.lightText İlgili konular 
      each topic in related
        a(href='/kategori/'+topic.slug)
          h5.col.s12.darkText #{topic.title}
    .row#infinite-list
      each doc in docs
        if doc.hasPreview == true
          .col.s12.m3
            .card.hoverable(data-slug=doc.slug)
              a(href='/dokuman/' + doc.slug)
                .card-image
                  img(width=245 height=346 src=doc.thumbnail.url alt=doc.description style="opacity:0.4;filter:blur(1px)")
                  span.card-title.truncateC(style="font-weight:300;filter: invert(100%);") #{doc.title}
                .card-action
                  .chip.truncate
                    img(src=doc.photoURL alt=doc.displayName)
                    |     #{doc.displayName}
                  .chip.truncate #{moment(doc.date).fromNow()}
      
    .shape-separator(display="none")                
        
  include components/login.pug
  include components/settings.pug
  include components/fab.pug
    
block javascripts
  script(type='text/javascript', src='/javascripts/search.js')
  script(type='text/javascript', src='/javascripts/moment.js')         
