extends layout

block head
  title= title

block content
  include components/navigation.pug
  .container
    .row(style="margin-top:20px")
      .col.s12.m8
        if user
          //- embed(src=doc.doc.url title=doc.title width="100%" style="height:500px" type='application/pdf')
          embed#pdf(src=doc.doc.url + '#toolbar=0&navpanes=0&scrollbar=0' width="100%" style="height:500px" type='application/pdf')
        else
          img(style="width:100%" src=doc.gif.url)
              
      .col.s12.m4(style="margin-top:-7px")
        ul.collection.with-header
          li.collection-header
            h1(style="font-size:1.5em;margin:0px") #{doc.title}
          li.collection-item.avatar
            i.material-icons.circle.purple.lighten-2.hoverable subject
            p #{doc.description}
          li.collection-item.avatar
            i.material-icons.circle.amber.accent-2.hoverable today
            p #{moment(doc.date).fromNow()}
          li.collection-item.avatar
            a(href="/@" + doc.userSlug)
              img.circle.hoverable(src=doc.photoURL)
            p #{doc.displayName}
          li.collection-item.avatar(style="padding: 5px")
            .fb-like(data-href='http://localhost:3000/dokuman/' + doc.slug, data-layout='standard', data-action='recommend', data-size='large', data-show-faces='true', data-share='true')

          if (user && user.isAdmin) || isOwner
            li.collection-item.avatar
              i.material-icons.circle.blue.lighten-2.hoverable build
              p
                |
                a.waves-effect.waves-light.btn.red.deleteDocument
                  i.material-icons.right delete
                  | Kaldır  
    .fb-comments(data-href='http://localhost:3000/dokuman/' + doc.slug, data-numposts='5' width='100%')

                        
    include components/login.pug
    include components/settings.pug
    include components/fab.pug
           
