extends layout

block head
  title= title
  link(href='/stylesheets/instantsearch.css', type='text/css', rel='stylesheet', media='screen,projection')

block content
  include components/navigation.pug
  include components/searchTemplate.html
  
  .container
    h5.col.s12 Son yüklenen ders materyalleri
    .row
      each doc in docs
        if doc.hasPreview == true
          .col.s12.m4
            .card.z-depth-3.medium.sticky-action
              .card-image.waves-effect.waves-block.waves-blue
                img.activator(src=doc.thumbnail.url alt=doc.description)
              .card-content
                h2.card-title.activator.grey-text.text-darken-4(style="margin-top:-15px")
                  | #{doc.title}
                  i.material-icons.right more_vert
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | #{doc.title} - #{doc.displayName}
                  i.material-icons.right close
                p
                  | #{doc.description}
              .card-action(style="display:flex")
                a(href='/dokuman/' + doc.slug) Detayına git...              

    include components/login.pug
    include components/settings.pug
    include components/fab.pug
    
block javascripts
  script(type='text/javascript', src='/javascripts/search.js')    
           
