extends layout

block head
  title= title
  meta(itemprop='name', content='Ders.im')
  meta(itemprop='description', content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  meta(name='image', itemprop='image', content='/images/logo.png')
  // Twitter Meta Headers
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:title', content='Ders.im')
  meta(property='twitter:description', content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  meta(property='twitter:site', content='@getdersim')
  meta(property='twitter:creator', content='@cagataycali')
  meta(property='twitter:image', content='/images/logo.png')
  // Open Graph general (Facebook, Pinterest & Google+)
  meta(property='og:title', content='Ders.im')
  meta(property='og:description', content='Ders.im öğrencilerin birbirleriyle ders metaryellerini paylaşabilecekleri, geçen senelerde çıkmış sınav sorularını bulabilecekleri, kampüsteki kişilere soru sorabilecekleri sosyal bir platformdur.')
  meta(property='og:image', content='/images/logo.png')
  meta(property='og:url', content='https://ders.im')
  meta(property='og:site_name', content='Ders.im')
  meta(property='og:locale', content='tr')
  meta(property='og:type', content='website')
  link(href='/stylesheets/instantsearch.css', type='text/css', rel='stylesheet', media='screen,projection')

block content
  include components/navigation.pug
  include components/searchTemplate.html
  
  .container
    h5.col.s12 Son yüklenen ders materyalleri
    .row#content
      each doc in docs
        if doc.hasPreview == true
          .col.s12.m4
            .card.z-depth-3.medium.sticky-action
              .card-image.waves-effect.waves-block.waves-blue
                img.activator(src=doc.thumbnail.url alt=doc.description)
              .card-content
                h2.card-title.activator.grey-text.text-darken-4(style='margin-top:-15px')
                  | #{doc.title}
                  i.material-icons.right more_vert
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | #{doc.title} - #{doc.displayName}
                  i.material-icons.right close
                p
                  | #{doc.description}
                p
                  | Yayınlanma tarihi: #{moment(doc.date).fromNow()}
                p
                  | Yayıncı: #{doc.displayName}
              .card-action(style='display:flex')
                a(href='/dokuman/' + doc.slug) Detayına git...      
                
      //- #loader
      //-   h1 LOADING...

    include components/login.pug
    include components/settings.pug
    include components/fab.pug
    
block javascripts
  script(type='text/javascript', src='/javascripts/search.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js')  
           
