extends layout

block head
  title= 'Ders.im | ' + profile.displayName
  

block content
  include components/navigation.pug
  .container
    .row(style="display:flex;align-items:center")
      a(href="/@"+profile.slug)
        img.circle.hoverable(src=profile.photoURL style="width:50px")
      h1(style="font-size:2.3em;margin-left:10px;color:rgba(38, 50, 56, 0.77);margin-top: 20px;") #{profile.displayName}'nın profili
    .row
      each doc in docs
        if doc.hasPreview == true
          .col.s12.m4
            .card.z-depth-3.medium.sticky-action
              .card-image.waves-effect.waves-block.waves-blue
                img.activator(src=doc.thumbnail.url alt=doc.description)
              .card-content
                h2.card-title.activator.grey-text.text-darken-4(style="margin-top:-15px")
                  | #{doc.title}
                  i.material-icons.right more_vert
              .card-reveal
                span.card-title.grey-text.text-darken-4
                  | #{doc.title}
                  i.material-icons.right close
                p
                  | #{doc.description}
              .card-action(style="display:flex")
                a(href='/dokuman/' + doc.slug) Detayına git...    
    include components/login.pug
    include components/settings.pug
