extends layout

block head
  title= 'Ders.im | ' + profile.displayName
  link(rel='canonical', href='https://ders.im/@'+profile.slug)
  meta(itemprop='name', content="Ders.im | " + profile.displayName)
  meta(itemprop='description', content=profile.displayName + ' https://ders.im\'de eitim materyallerini payla覺yor.')
  meta(property='description', content=profile.displayName + ' https://ders.im\'de eitim materyallerini payla覺yor.')
  meta(name='description', content=profile.displayName + ' https://ders.im\'de eitim materyallerini payla覺yor.')
  meta(name="keywords" content="ders notlar覺, 癟al覺ma notlar覺, ders 癟al覺ma d繹k羹man覺, ders notu, m羹hendislik notu, bilgisayar m羹hendislii, dersim," + profile.displayName + 'n覺n ders notlar覺')
  meta(property='image', itemprop='image', content=profile.photoURL)
  meta(name='image', itemprop='image', content=profile.photoURL)
  meta(property='twitter:card', content='summary_large_image')
  meta(property='twitter:title', content="Ders.im")
  meta(property='twitter:description', content=profile.displayName + ' https://ders.im\'de eitim materyallerini payla覺yor.')
  meta(property='twitter:creator', content='@cagataycali')
  meta(property='twitter:image', content=profile.photoURL)
  meta(name='twitter:image', content=profile.photoURL)
  meta(property='og:title', content="Ders.im | " + profile.displayName)
  meta(property='og:description', content=profile.displayName + ' https://ders.im\'de eitim materyallerini payla覺yor.')
  meta(property='og:image', content=profile.photoURL)
  meta(property='og:image:alt', content=profile.photoURL)
  meta(property='og:url', content='https://ders.im/@'+profile.slug)
  meta(property='og:site_name', content='https://ders.im')
  meta(property='og:locale', content='tr')
  meta(property='og:type', content='website')
  
block content
  include components/navigation.pug
  .container
    .row(style="display:flex;align-items:center")
      a(href="/@"+profile.slug)
        img.circle.hoverable(src=profile.photoURL style="width:50px")
      h1(style="font-size:2.3em;margin-left:10px;color:rgba(38, 50, 56, 0.77);margin-top: 20px;") #{profile.displayName}'n覺n profili
    if !docs || docs.length === 0
      h2 Malesef hen羹z d繹k羹man y羹klememi. 仁
    else  
    .row#infinite-list
      each doc in docs
        if doc.hasPreview == true
          .col.s12.m3
            .card.hoverable(data-slug=doc.slug)
              a(href='/dokuman/' + doc.slug)
                .card-image
                  img(width=245 height=346 src=doc.thumbnail.url alt=doc.description style="opacity:0.4;filter:blur(1px)")
                  span.card-title.truncateC(style="font-weight:300;filter: invert(100%);") #{doc.title}
                .card-action
                  .chip.truncate
                    img(src=doc.photoURL, alt=doc.displayName)
                    |     #{doc.displayName}
                  .chip.truncate #{moment(doc.date).fromNow()}
    .shape-separator(display="none")                
    include components/login.pug
    include components/settings.pug
    if !isOwner
      #fab.fixed-action-btn.enableNotifications(uid=profile.uid)
        a.btn-floating.btn-large.green#pulse
          i.large.material-icons.notificationIcon notifications
block javascripts
  script(type='text/javascript', src='/javascripts/moment.js')         
